body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}
#ui {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
}
#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#content {
    font-size: 1.8rem;
    margin: 0 0 1em;
    font-family: "Karla", sans-serif;
}